/******************************

Body styles

*******************************/

body {

  background-image: url('../img/web.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  min-height: 100vh;


}

#wrapper {

  flex-grow: 1;

}

/*******************************

Paragraph styles

*********************************/

#theSkills p {

  color: #6ab47b;
  font-weight: 900;
  font-style: bold;
  font-size: 2em;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  text-align: center;

}


p {

  color: #6ab47b;
  font-weight: 900;
  font-style: bold;
  font-size: 2em;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;

}

/********************************

H element styles

********************************/



h1 {

  color: white;
  font-style: oblique;
  font-weight: 600;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;

}


h3 {

  color: white;
  font-style: oblique;
  font-weight: 600;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;


}

#skills {

  color: white;
  font-style: oblique;
  font-weight: 600;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
  text-align: center;



}

/******************************

Table a tags styles

*******************************/

#center a {


  color: #6ab47b;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;


}

#center {

  text-align: center;


}

a {

  color: white;
  font-style: oblique;
  font-weight: 600;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 25px;

}

/***************************

footer styles

*******************************/

footer {

  color: white;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;

}
