/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Jhoset Ceron
   Date:   9/30/2017

   Filename:         c_styles.css
   Supporting Files: none

*/

/* Body Style */
body {

    background-color: black;
    color: white;
    font-family: Century Gothic, sans-serif;
    
}

/* Headings */
header h1 {
    
    color: yellow;
    font-family: Courier New, Courier, monospace;
    font-size: 28px;
    letter-spacing: 20px;
    text-align: center;
    
}

article h2 {
    
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 5px;
    
}

article p {
    
    text-align: justify;
    
}

.keyword {
    
    color: yellow;
    font-weight: normal;
}

/* Footer */
footer p {
    
    text-align: center;
    
}

img.map, map area {
    
    border-width: 0px;
    outline: none;
    
    
}

